.*docx
ProteusImageMaker/.DS_Store
ProteusImageMaker/FEHImages.cpp
ProteusImageMaker/FEHImages.h
ProteusImageMaker/main.cpp
ProteusImageMaker/pic2proteus.m
ProteusImageMaker/README.docx
ProteusImageMaker/smiley.png
ProteusImageMaker/Unicorn.jpeg
